<%- contentFor('main-content') %>
<section class="section container has-text-centered">
    <h2 class="title">Einkauf abgeschlossen</h2>
    <h3 class="subtitle">
        Ihr Einkauf
    </h3>

    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>
                    <abbr>Produkt</abbr>
                </th>
                <th class="right-aligned">
                    <abbr>Einzelpreis</abbr>
                </th>
                <th class="right-aligned">
                    <abbr>Anzahl</abbr>
                </th>
                <th class="right-aligned">
                    <abbr>Total</abbr>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (product of products) { %>
            <tr>
                <td>
                    <%= product.name %>
                </td>
                <td class="right-aligned">
                    <%= Number.parseFloat(product.specialOffer).toFixed(2) %> CHF
                </td>
                <td class="right-aligned">
                    <%= product.amount %>
                </td>
                <td class="right-aligned">
                    <%= Number.parseFloat(product.amount * product.specialOffer).toFixed(2) %> CHF
                </td>
            </tr>
            <% } %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-aligned">
                    <strong>
                        <%= Number.parseFloat(total).toFixed(2) %> CHF
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 class="subtitle">
        Danke für Ihren Einkauf
    </h3>

    <a href="/" class="button button-orange">Zurück zur Seite</a>
</section>