<%- contentFor('main-content') %>

<%if (total != 0) { %>
<nav class="pagination is-rounded right-button">
    <a></a>
    <a href="/checkout" class="pagination-next button button-orange">
        <i class="icon-basket"></i> Checkout
    </a>
</nav>
<% } %>

<section class="section container has-text-centered">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>
                    <abbr>Produkt</abbr>
                </th>
                <th class="right-aligned">
                    <abbr>Einzelpreis</abbr>
                </th>
                <th class="right-aligned">
                    <abbr>Anzahl</abbr>
                </th>
                <th class="right-aligned">
                    <abbr>Total</abbr>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (product of products) { %>
            <tr>
                <td>
                    <a href="/products/<%= product.id %>">
                        <%= product.name %>
                    </a>
                </td>
                <td class="right-aligned">
                    <%= Number.parseFloat(product.specialOffer).toFixed(2) %> CHF
                </td>
                <td class="right-aligned">
                    <form id="add-product-form" action="/cart/products/<%= product.id %>" method="post">
                        <button type="submit" class="button-actions button-orange is-white">+</button>
                    </form>
                    <%= product.amount %>
                    <a href="/cart/products/delete/<%= product.id %>" class="button-actions button-orange is-white">
                        -
                    </a>
                </td>
                <td class="right-aligned">
                    <%= Number.parseFloat(product.amount * product.specialOffer).toFixed(2) %> CHF
                </td>
            </tr>
            <% } %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="right-aligned">
                    <strong>
                        <%= Number.parseFloat(total).toFixed(2) %> CHF
                    </strong>
                </td>
            </tr>
        </tbody>
    </table>
</section>