<%- contentFor('main-content') %>
<section class="section container has-text-centered">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>
                    <abbr>Produkt</abbr>
                </th>
                <th>
                    <abbr>Einzelpreis</abbr>
                </th>
                <th>
                    <abbr>Anzahl</abbr>
                </th>
                <th>
                    <abbr>Total</abbr>
                </th>
            </tr>
        </thead>
        <tbody>
            <% for (product of products) { %>
            <tr>
                <td>
                    <%= product.name %>
                </td>
                <td>
                    <%= product.specialOffer %> CHF
                </td>
                <td>
                    <%= product.amount %>
                </td>
                <td>
                    <%= product.amount * product.specialOffer %> CHF
                </td>
            </tr>
            <% } %>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <%= total %> CHF
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/checkout" class="button button-orange">
        Weiter
    </a>
</section>