<%- contentFor('main-content') %>
<section class="section has-text-centered container">
    <div class="columns">
        <div class="column">
            <h2 class="title has-text-black"><%= product.name %></h2>
            <p>
                <%= product.description %>
                <br />
                <br />
                <a href="/cart/products/add/<%= product.id %>" class="button button-orange">
                    <i class="icon-basket"></i> Zum Warenkorb hinzufügen
                </a>
            </p>
        </div>
        <div class="column">
            <img src="/img/<%= product.imageName %>" alt="Produkt-Bild">
        </div>
    </div>
</section>

<nav class="pagination is-rounded">
    <%if (!previousProduct) { %>
    <a href="/" class="pagination-previous button-orange">
        Zurück zur Übersicht
    </a>
    <% } %>
    <%if (previousProduct) { %>
    <a href="/products/<%= previousProduct.id %>" class="pagination-previous button-orange">
        <i class="icon-left"></i> <%= previousProduct.name %>
    </a>
    <% } %>
    <%if (nextProduct) { %>
    <a href="/products/<%= nextProduct.id %>" class="pagination-next button-orange">
        <%= nextProduct.name %> <i class="icon-right"></i>
    </a>
    <% } %>
</nav>